<a href="https://colab.research.google.com/github/yoon0411/pdm22/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [ ]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109
2021-10-02 -2.157606  2.381632 -1.156475  0.022490

In [ ]:
df.head(2)

                   A         B         C        D
2021-09-27  0.824943 -0.146526  0.450601  0.98569
2021-09-28  0.454988 -0.249427 -0.768519 -0.03074

In [ ]:
df.tail(3)

                   A         B         C         D
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109
2021-10-02 -2.157606  2.381632 -1.156475  0.022490

In [ ]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns  # 열의 이름

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [ ]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.237590  0.150164 -0.022257 -0.038193
std    1.178425  1.230347  0.989117  0.629448
min   -2.157606 -1.219201 -1.156475 -0.997109
25%   -0.871955 -0.368744 -0.693788 -0.113210
50%    0.274885 -0.197977 -0.118389 -0.059277
75%    0.527412  0.370635  0.396155  0.009183
max    0.824943  2.381632  1.577631  0.985690

In [ ]:
df.describe().T   # T = 전치 행렬

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.237590  1.178425 -2.157606 -0.871955  0.274885  0.527412  0.824943
B    6.0  0.150164  1.230347 -1.219201 -0.368744 -0.197977  0.370635  2.381632
C    6.0 -0.022257  0.989117 -1.156475 -0.693788 -0.118389  0.396155  1.577631
D    6.0 -0.038193  0.629448 -0.997109 -0.113210 -0.059277  0.009183  0.985690

In [ ]:
df

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109
2021-10-02 -2.157606  2.381632 -1.156475  0.022490

In [ ]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    0.824943    0.454988   -1.194200    0.551554    0.094781   -2.157606
B   -0.146526   -0.249427   -1.219201    0.543022   -0.408516    2.381632
C    0.450601   -0.768519    1.577631   -0.469594    0.232816   -1.156475
D    0.985690   -0.030740   -0.121675   -0.087814   -0.997109    0.022490

In [ ]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [ ]:
df

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109
2021-10-02 -2.157606  2.381632 -1.156475  0.022490

In [ ]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

(                   A         B         C         D
 2021-09-27  0.824943 -0.146526  0.450601  0.985690
 2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
 2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
 2021-09-30  0.551554  0.543022 -0.469594 -0.087814
 2021-10-01  0.094781 -0.408516  0.232816 -0.997109
 2021-10-02 -2.157606  2.381632 -1.156475  0.022490,
                    A         B         C         D
 2021-10-02 -2.157606  2.381632 -1.156475  0.022490
 2021-10-01  0.094781 -0.408516  0.232816 -0.997109
 2021-09-30  0.551554  0.543022 -0.469594 -0.087814
 2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
 2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
 2021-09-27  0.824943 -0.146526  0.450601  0.985690)

In [ ]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27  0.824943 -0.146526  0.450601  0.985690
 2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
 2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
 2021-09-30  0.551554  0.543022 -0.469594 -0.087814
 2021-10-01  0.094781 -0.408516  0.232816 -0.997109
 2021-10-02 -2.157606  2.381632 -1.156475  0.022490,
                    D         C         B         A
 2021-09-27  0.985690  0.450601 -0.146526  0.824943
 2021-09-28 -0.030740 -0.768519 -0.249427  0.454988
 2021-09-29 -0.121675  1.577631 -1.219201 -1.194200
 2021-09-30 -0.087814 -0.469594  0.543022  0.551554
 2021-10-01 -0.997109  0.232816 -0.408516  0.094781
 2021-10-02  0.022490 -1.156475  2.381632 -2.157606)

#### Sort by value
- sort_values(by='column')

In [ ]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27  0.824943 -0.146526  0.450601  0.985690
 2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
 2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
 2021-09-30  0.551554  0.543022 -0.469594 -0.087814
 2021-10-01  0.094781 -0.408516  0.232816 -0.997109
 2021-10-02 -2.157606  2.381632 -1.156475  0.022490,
                    A         B         C         D
 2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
 2021-10-01  0.094781 -0.408516  0.232816 -0.997109
 2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
 2021-09-27  0.824943 -0.146526  0.450601  0.985690
 2021-09-30  0.551554  0.543022 -0.469594 -0.087814
 2021-10-02 -2.157606  2.381632 -1.156475  0.022490)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [ ]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    0.824943
2021-09-28    0.454988
2021-09-29   -1.194200
2021-09-30    0.551554
2021-10-01    0.094781
2021-10-02   -2.157606
Freq: D, Name: A, dtype: float64

In [ ]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675

In [29]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109

#### Selecting data by label [중요!!]

> **loc, iloc**

In [30]:
df

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109
2021-10-02 -2.157606  2.381632 -1.156475  0.022490

In [31]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [32]:
df.loc[dates[0]]   # loc()

A    0.824943
B   -0.146526
C    0.450601
D    0.985690
Name: 2021-09-27 00:00:00, dtype: float64

In [33]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  0.824943 -0.146526
2021-09-28  0.454988 -0.249427
2021-09-29 -1.194200 -1.219201
2021-09-30  0.551554  0.543022
2021-10-01  0.094781 -0.408516
2021-10-02 -2.157606  2.381632

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [37]:
# df.loc[0:2,['C','D']]
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C        D
2021-09-27  0.450601  0.98569
2021-09-28 -0.768519 -0.03074

#### Selecting data by position (iloc())
- index 사용

In [38]:
df

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109
2021-10-02 -2.157606  2.381632 -1.156475  0.022490

In [39]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.551554
B    0.543022
C   -0.469594
D   -0.087814
Name: 2021-09-30 00:00:00, dtype: float64

In [41]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C        D
2021-09-27  0.450601  0.98569
2021-09-28 -0.768519 -0.03074

In [42]:
# Select one item
df.iloc[1,1]

-0.2494274831418207

In [44]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675

#### Selecting data by Boolean indexing

In [45]:
df

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-29 -1.194200 -1.219201  1.577631 -0.121675
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109
2021-10-02 -2.157606  2.381632 -1.156475  0.022490

In [50]:
df > 0

                A      B      C      D
2021-09-27   True  False   True   True
2021-09-28   True  False  False  False
2021-09-29  False  False   True  False
2021-09-30   True   True  False  False
2021-10-01   True  False   True  False
2021-10-02  False   True  False   True

In [54]:
df[df.A > 0]

                   A         B         C         D
2021-09-27  0.824943 -0.146526  0.450601  0.985690
2021-09-28  0.454988 -0.249427 -0.768519 -0.030740
2021-09-30  0.551554  0.543022 -0.469594 -0.087814
2021-10-01  0.094781 -0.408516  0.232816 -0.997109

In [55]:
df[df > 0]

                   A         B         C        D
2021-09-27  0.824943       NaN  0.450601  0.98569
2021-09-28  0.454988       NaN       NaN      NaN
2021-09-29       NaN       NaN  1.577631      NaN
2021-09-30  0.551554  0.543022       NaN      NaN
2021-10-01  0.094781       NaN  0.232816      NaN
2021-10-02       NaN  2.381632       NaN  0.02249